<div class="list-group">
  <a class="list-group-item" ui-sref="set({number: $index})" ng-repeat="set in sets" analytics-on="click" analytics-event="set({number: $index}) visit">
    <h4 class="list-group-item-heading">{{ set.name }}</h4>
    <div class="list-group-item-text">
      Progress: {{ solved[$index] }} / {{ problems[$index] }} problems
      <progressbar value="solved[$index]" max="problems[$index]"></progressbar>
    </div>
  </a>
</div>
