<!doctype html>
<html ng-app="onlineProblems">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>CS70 :: Online Problems</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="css/xeditable.css" rel="stylesheet">

  <style>
    img.img-responsive {
      margin: 0px;
      padding: 0px;
    }
    .row {
      display: table;
      margin: 0 auto;
    }
    .col-xs-1, .col-xs-11, .col-xs-12, .col-xs-2 {
      display: table-cell;
      vertical-align: middle;
    }
    label {
      display: inline;
    }
    .btn-group, .form-control {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .bootstrap-growl {
      position: fixed !important;
    }
    body {
      padding-top: 70px;
    }
    a.editable-click {
      border-bottom: none;
    }
  </style>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-54711232-1', 'auto');
    ga('create', 'UA-54711232-1', {'cookieDomain': 'none'});
    // ga('send', 'pageview');
  </script>
  <script>
    console.log('Version number: 1235');
  </script>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">CS 70</a>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Problem Sets <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="set in sets">
                <a ui-sref="set({number: $index})">{{ set.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
	  <li>
	    <a href="#" editable-text="username">{{ username }}</a>
	  </li>
          <li>
            <button class="btn btn-default navbar-btn" ng-click="reset()">Reset Progress</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" ui-view>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="//angulartics.herokuapp.com/js/angulartics.js"></script>
  <script src="//angulartics.herokuapp.com/js/angulartics-google-analytics.js"></script>
  <script src="js/xeditable.js"></script>

  <script>
    var sets = [];
  </script>
  <script src="sets/set0/meta.js"></script>
  <script src="sets/set1/meta.js"></script>
  <script src="sets/set2.1/meta.js"></script>
  <script src="sets/set2.2/meta.js"></script>
  <script src="sets/set3/meta.js"></script>
  <script src="sets/set3.2/meta.js"></script>
  <script src="sets/set3.3/meta.js"></script>
  <script src="sets/set4/meta.js"></script>
  <script src="sets/set5/meta.js"></script>
  <script src="sets/set6/meta.js"></script>
  <script src="sets/set7/meta.js"></script>
  <script src="sets/set8/meta.js"></script>
  <script src="sets/set9/meta.js"></script>
  <script src="sets/set10/meta.js"></script>
  <script src="sets/set11/meta.js"></script>
  <script src="sets/set12/meta.js"></script>
  <script src="sets/set13/meta.js"></script>
  <script>
    var Fact = function(n){
      var product = 1;
      for (var i = 2; i <= n; i++){
        product = product * i;
      }
      return product;
    }
    var Pow = Math.pow;
    var C = function(n, k){
      if (n < k){
        return -1;
      }
      var numerator = 1;
      for (var i = 0; i < k; i++){
        numerator = numerator * (n - i);
      }
      return numerator/Fact(k);
    }

    var untrustedEval = eval;

    var ls = angular.module('localStorage',[]);

    ls.factory("$store",function($parse){
      /**
       * Global Vars
       */
      var storage = (typeof window.localStorage === 'undefined') ? undefined : window.localStorage,
        supported = !(typeof storage == 'undefined' || typeof window.JSON == 'undefined');

      var privateMethods = {
        /**
         * Pass any type of a string from the localStorage to be parsed so it returns a usable version (like an Object)
         * @param res - a string that will be parsed for type
         * @returns {*} - whatever the real type of stored value was
         */
        parseValue: function(res) {
          var val;
          try {
            val = JSON.parse(res);
            if (typeof val == 'undefined'){
              val = res;
            }
            if (val == 'true'){
              val = true;
            }
            if (val == 'false'){
              val = false;
            }
            if (parseFloat(val) == val && !angular.isObject(val) ){
              val = parseFloat(val);
            }
          } catch(e){
            val = res;
          }
          return val;
        }
      };
      var publicMethods = {
        /**
         * Set - let's you set a new localStorage key pair set
         * @param key - a string that will be used as the accessor for the pair
         * @param value - the value of the localStorage item
         * @returns {*} - will return whatever it is you've stored in the local storage
         */
        set: function(key,value){
          if (!supported){
            try {
              $.cookie(key, value);
              return value;
            } catch(e){
              console.log('Local Storage not supported, make sure you have the $.cookie supported.');
            }
          }
          var saver = JSON.stringify(value);
           storage.setItem(key, saver);
          return privateMethods.parseValue(saver);
        },
        /**
         * Get - let's you get the value of any pair you've stored
         * @param key - the string that you set as accessor for the pair
         * @returns {*} - Object,String,Float,Boolean depending on what you stored
         */
        get: function(key){
          if (!supported){
            try {
              return privateMethods.parseValue($.cookie(key));
            } catch(e){
              return null;
            }
          }
          var item = storage.getItem(key);
          return privateMethods.parseValue(item);
        },
        /**
         * Remove - let's you nuke a value from localStorage
         * @param key - the accessor value
         * @returns {boolean} - if everything went as planned
         */
        remove: function(key) {
          if (!supported){
            try {
              $.cookie(key, null);
              return true;
            } catch(e){
              return false;
            }
          }
          storage.removeItem(key);
          return true;
        },
        /**
         * Bind - let's you directly bind a localStorage value to a $scope variable
         * @param $scope - the current scope you want the variable available in
         * @param key - the name of the variable you are binding
         * @param def - the default value (OPTIONAL)
         * @returns {*} - returns whatever the stored value is
         */
        bind: function ($scope, key, varname, def) {
          def = def || '';
          if (!publicMethods.get(key)) {
            publicMethods.set(key, def);
          }
          $parse(varname).assign($scope, publicMethods.get(key));
          $scope.$watch(varname, function (val) {
            publicMethods.set(key, val);
          }, true);
          return publicMethods.get(key);
        }
      };
      return publicMethods;
    });
  </script>
  <script>
    var app = angular.module('onlineProblems', ['ui.router', 'ui.bootstrap', 'localStorage', 'angulartics', 'angulartics.google.analytics', 'xeditable']);
    // angular.module('cs70fa14op', ['angulartics', 'angulartics.google.analytics'])

    app.directive('checkList', function() {
      return {
        scope: {
          list: '=checkList',
          value: '@'
        },
        link: function(scope, elem, attrs) {
          var handler = function(setup) {
            var checked = elem.prop('checked');
            var index = scope.list.indexOf(scope.value);

            if (checked && index == -1) {
              if (setup) elem.prop('checked', false);
              else scope.list.push(scope.value);
            } else if (!checked && index != -1) {
              if (setup) elem.prop('checked', true);
              else scope.list.splice(index, 1);
            }
          };

          var setupHandler = handler.bind(null, true);
          var changeHandler = handler.bind(null, false);

          elem.bind('change', function() {
            scope.$apply(changeHandler);
          });
          scope.$watch('list', setupHandler, true);
        }
      };
    });

    app.config(function($stateProvider, $urlRouterProvider){
      $urlRouterProvider.otherwise('/home')
      $stateProvider
        .state('home', {
          url: '/home',
          templateUrl: 'home.html',
          controller: function($scope, $rootScope, $store){
            $scope.solved = [];
            $scope.problems = [];
            $scope.username = 'U';
            angular.forEach($rootScope.sets, function(set){
              var probs = 0;
              for (var i=0;i<set.contents.length;++i)
                if (set.contents[i].type!='static')
                  probs += 1;
              $scope.problems.push(probs);
              var solved = 0;
              angular.forEach($store.get(set.name), function(){
                solved += 1;
              });
              $scope.solved.push(solved);
            });
            $store.bind($rootScope, 'username', 'username', 'Click to enter your name.');
          }
        });
      $stateProvider
        .state('set', {
          url: '/set/{number}',
          templateUrl: 'set.html',
          controller: function($scope, $rootScope, $stateParams, $store){
            $scope.set = $rootScope.sets[$stateParams.number];
            $scope.answer = {};
            $scope.username = 'U';
            $store.bind($scope, $scope.set.name, 'result', {});
            $store.bind($rootScope, 'username', 'username', 'Click to enter your name.');
            $scope.check = function(index){
              var correct = false;
              var problem = $scope.set.contents[index];
              var answer = $scope.answer[index];
              if (problem.type=='single'){
                correct = (problem.answer == answer);
              }
              else if (problem.type=='multi'){
                correct = (problem.answer.slice(0).sort().join() == answer.slice(0).sort().join());
                console.log($scope.set.contents[index]);
              }
              else if (problem.type=='freeform'){
                var equal = function(x, y){
                  x = x.toLowerCase().trim();
                  y = y.toLowerCase().trim();
                  if (x == y)
                    return true;
                  if (!isNaN(x) && !isNaN(y) && parseFloat(x)==parseFloat(y))
                    return true;
                  if (x[0]=='[' && y[0]=='[' && x[x.length-1]==']' && y[y.length-1]==']'){
                    x = x.slice(1,x.length-1).trim().split(/\s+/);
                    y = y.slice(1,y.length-1).trim().split(/\s+/);
                    if (x.length!=y.length)
                      return false;
                    for (var i=0;i<x.length;++i)
                      if (!equal(x[i], y[i]))
                        return false;
                    return true;
                  }
                  return false;
                }
                correct = equal(problem.answer, answer);
              }
	      else if (problem.type=='freeformjs'){
                console.log(answer);
                correct = function(value){return eval(problem.answer);}(untrustedEval(answer));
	      }
              if (correct){
                $scope.result[index] = 'solved';
                $.bootstrapGrowl('Correct answer', {type: 'success', allow_dismiss: false});
              }
              else{
                $.bootstrapGrowl('Incorrect answer', {type:'danger', allow_dismiss: false});
              }
              
            }
            angular.forEach($scope.set.contents, function(part, index){
              if ($scope.result[index]=='solved'){
                if (part.type=='multi')
                  $scope.answer[index] = $scope.set.contents[index].answer.slice(0);
                else if (part.type=='single')
                  $scope.answer[index] = $scope.set.contents[index].answer;
                else if (part.type=='freeform')
                  $scope.answer[index] = $scope.set.contents[index].answer.slice(0);
              }
              else{
                if (part.type=='multi'){
                  $scope.answer[index] = [];
                }
                else if (part.type=='single'){
                  $scope.answer[index] = null;
                }
                else if (part.type=='freeform'){
                  $scope.answer[index] = "";
                }
              }
            });
          }
        });
    });

    app.run(function($rootScope, $stateParams, $store, $state){
      $rootScope.sets = sets;
      $rootScope.reset = function(){
        if ('number' in $stateParams){
          $store.set($rootScope.sets[$stateParams.number].name, {});
        }
        else{
          angular.forEach($rootScope.sets, function(set){
            $store.set(set.name, {});
          });
        }
        var current = $state.current;
        var params = angular.copy($stateParams);
        $state.transitionTo(current, params, { reload: true, inherit: true, notify: true });
      }
    });
  </script>
  <!-- <script> -->
  <!--   angular.module('cs70fa14op', ['angulartics', 'angulartics.google.analytics']); -->
  <!-- </script> -->
</body>
</html>
