<div ng-repeat="part in set.contents">
  <div ng-repeat="img in part.imgs" class="row">
    <label>
      <div class="col-xs-1">
        <input ng-if="part.type=='single'" type="radio" class="pull-right form-control" ng-model="$parent.$parent.$parent.answer[$parent.$parent.$index]" ng-value="$index" />
        <input ng-if="part.type=='multi'" type="checkbox" class="pull-right form-control" check-list="$parent.$parent.$parent.answer[$parent.$parent.$index]" ng-value="$index" />
      </div>
      <div class="col-xs-11">
        <img ng-src="{{ img }}" class="img-responsive" />
      </div>
    </label>
  </div>
  <div ng-if="part.type=='freeform'" class="row">
    <div class="col-xs-12">
      <input type="text" class="form-control" ng-model="$parent.$parent.answer[$parent.$index]" />
    </div>
  </div>
  <div ng-if="part.type=='freeformjs'" class="row">
    <div class="col-xs-12">
      <input type="text" class="form-control" ng-model="$parent.$parent.answer[$parent.$index]" />
    </div>
  </div>
  <div ng-if="part.type!='static'">
    <div collapse="!isHintCollapsed">
      <div class="row" ng-if="part.hint">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-11">
          <img ng-src="{{ part.hint }}" class="img-responsive" />
        </div>
      </div>
    </div>
    <div collapse="!isSolutionCollapsed">
      <div class="row" ng-if="part.solution">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-11">
          <img ng-src="{{ part.solution }}" class="img-responsive" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group">
          <div class="btn btn-warning btn-sm" ng-if="part.hint" ng-click="$parent.isHintCollapsed = !$parent.isHintCollapsed">
            <span class="glyphicon glyphicon-question-sign"></span> Hint
          </div>
          <div class="btn btn-sm" ng-click="check($index); $parent.isCheckClicked=true" ng-class="{'btn-primary': !result[$index], 'btn-success': result[$index]}">
            <span class="glyphicon" ng-class="{'glyphicon-certificate': !result[$index], 'glyphicon-ok': result[$index]}"></span> Check answer
          </div>
          <div class="btn btn-warning btn-sm" ng-hide="!$parent.isCheckClicked" ng-if="part.solution" ng-click="$parent.isSolutionCollapsed = !$parent.isSolutionCollapsed">
            <span class="glyphicon glyphicon-ok-sign"></span> Solution
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
